.button {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 24px;
  color: white;
  background: #1551e5;
  border: none;
  border-radius: 8px;
  text-wrap: nowrap;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    background: #316cff;
    box-shadow: 0px 12px 16px -7px #1551e570;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background: #e9ecf2;
    color: #b2bace;
    &:hover {
      cursor: not-allowed;
      background: #e9ecf2;
      box-shadow: none;
    }
  }
  &.white {
    border: none;
    background: #fff;
    color: #1551e5;
    padding: 12px;
  }

  &.ghost {
    border: none;
    background: #f2f6ff;
    color: #1551e5;
    // padding: 12px 24px;
  }
}
